// media breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;


// fonts
$play: 'Play', sans-serif;
$roboto: 'Roboto', sans-serif;
$default-font: $roboto;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;

$shippingFree: 0;
$shippingFlatRate: 20;
$shippingLocalPickup: 25;


