.banner[b-p6i7mgnv0u] {
  font-size: 24px;
  font-weight: 500;
  background-color: rgba(14, 21, 61, 0.85);
  color: white;
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 5rem;
}
.banner .first-text-part[b-p6i7mgnv0u] {
  color: #20d3c2;
}
.banner .second-text-part[b-p6i7mgnv0u], .banner .third-text-part[b-p6i7mgnv0u], .banner .fourth-text-part[b-p6i7mgnv0u], .banner .fifth-text-part[b-p6i7mgnv0u] {
  display: none;
}
@media (min-width: 768px) {
  .banner .first-text-part[b-p6i7mgnv0u], .banner .second-text-part[b-p6i7mgnv0u], .banner .fourth-text-part[b-p6i7mgnv0u] {
    color: #20d3c2;
  }
  .banner .first-text-part[b-p6i7mgnv0u], .banner .second-text-part[b-p6i7mgnv0u], .banner .third-text-part[b-p6i7mgnv0u], .banner .fourth-text-part[b-p6i7mgnv0u], .banner .fifth-text-part[b-p6i7mgnv0u] {
    display: block;
  }
}

.content-area[b-p6i7mgnv0u] {
  display: grid;
  grid-template-areas: "cart" "coupon" "totals";
}
.content-area .cart-area[b-p6i7mgnv0u] {
  grid-area: cart;
}
.content-area .row-below-shopping-cart[b-p6i7mgnv0u] {
  grid-area: coupon;
}
.content-area .box-cart-totals[b-p6i7mgnv0u] {
  grid-area: totals;
  width: 350px;
  height: 465px;
  border: 2px dashed #0E153D;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .content-area[b-p6i7mgnv0u] {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "cart totals" "coupon totals";
  }
  .content-area .cart-area[b-p6i7mgnv0u] {
    grid-area: cart;
  }
  .content-area .box-cart-totals[b-p6i7mgnv0u] {
    grid-area: totals;
    margin-left: 2rem;
  }
  .content-area .row-below-shopping-cart[b-p6i7mgnv0u] {
    grid-area: coupon;
  }
}

.productThumb[b-p6i7mgnv0u] {
  height: 65px;
}
.productThumb img[b-p6i7mgnv0u] {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.divider[b-p6i7mgnv0u] {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.shipping-form[b-p6i7mgnv0u] {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subtotal[b-p6i7mgnv0u] {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #20d3c2;
}

input[b-p6i7mgnv0u] {
  margin-bottom: 1.5rem;
}

.row-cart-totals[b-p6i7mgnv0u] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-apply-coupon[b-p6i7mgnv0u] {
  min-width: 350px;
  height: 150px;
  border: 2px dashed #E3E3E3;
  text-align: center;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.input-apply-coupon[b-p6i7mgnv0u] {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #AAAAAA;
  border-radius: 23px;
  min-width: 322px;
  height: 45px;
  margin-top: 0.5rem;
}

.btn-update-cart[b-p6i7mgnv0u] {
  width: 100%;
  display: block;
}

@media (min-width: 576px) {
  .row-below-shopping-cart[b-p6i7mgnv0u] {
    justify-content: space-between;
    display: flex;
  }

  .btn-update-cart[b-p6i7mgnv0u] {
    display: inline;
  }

  .box-apply-coupon[b-p6i7mgnv0u] {
    width: 445px;
    height: 150px;
    border: 2px dashed #E3E3E3;
    text-align: center;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 0;
    margin-right: 1rem;
    margin-bottom: 3rem;
  }

  .input-apply-coupon[b-p6i7mgnv0u] {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #AAAAAA;
    border-radius: 23px;
    width: 385px;
    height: 45px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/*# sourceMappingURL=ShoppingCart.razor.css.map */
