@use '../PartialSCSSFiles/helpers' as *;

.home-area {
    background-color: $product-bg-color;
    min-height: 600px;

    .main-part {
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-areas: "second" "first";

        .first-column {
            grid-area: first;
            height: 600px;
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                color: $eshop-theme-color;
            }

            h2 {
                color: $eshop-midnightblue;
            }

            p {
                text-align: center;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
        }
        /*  Crop and center the image. */

        .second-column {
            grid-area: second;
            position: absolute;
            height: 600px;
            width: 600px;
            overflow: hidden;

            img {
                position: relative;
                left: 75%;
                margin-left: -110%;
                transform: scaleX(-1);
            }
        }
    }

    @include sm {

        .main-part {
            grid-template-columns: 350px 1fr;
            grid-template-areas: "first second";

            .first-column {
                grid-area: first;
                height: 600px;
                width:90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                p {
                    text-align: start;
                }
            }

            .second-column {

                img {
                    position: absolute;
                    left: 75%;
                    margin-left: -75%;
                    clip: rect(0px,700px,600px,0px);
                    transform: scaleX(-1);
                }
            }
        }
    }

    @include md {

        .main-part {

            .second-column {

                img {
                    position: absolute;
                    left: 75%;
                    margin-left: -60%;
                    clip: rect(0px,800px,600px,200px);
                    transform: scaleX(-1);
                }
            }
        }
    }

    @include lg {

        .main-part {

            .second-column {

                img {
                    float: right;
                    clip: rect(0px,1000px,600px,400px);
                    transform: scaleX(-1);
                }
            }
        }
    }
}

body {
}
