@page "/"

<PageTitle>Kenkata</PageTitle>

<div class="home-area">
    <div class="container main-part">

        <div class="second-colummn">
            <img src="images/products/FirstImage1.jpg" class="d-lg-none"
                    alt="Copule with bikes">
            <img src="images/products/FirstImage2.jpg" class="d-none d-lg-flex"
                    alt="Copule with bikes">
        </div>

        <div class="first-column">
            <h2>Shopping is</h2>
            <h1>MORE FUN</h1>
            <div class="ingress">
                <p>
                    Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque
                    quis erat sed
                </p>
            </div>
            <br>
            <br> 
              <a href="@($"shop/{(int)ProductCategory.NoCategory}")" class="btn btn-shop" role="button">SHOP NOW</a>

        </div>
    </div>
</div>

<InfoBoxes/>

<CategoryGrid/>

@code {
    [CascadingParameter]
    protected EventCallback<ShoppingCartModel> UpdateShoppingCart { get; set; }

}