@page "/"

<PageTitle>Kenkata</PageTitle>

<div class="home-area">
    <div class="container main-part">

        <div class="second-colummn">
            <img src="images/products/FirstImage1.jpg" class="d-sm-none"
                style="position:relative; left: 75%; margin-left:-110%; transform:scaleX(-1);"
                    alt="Copule with bikes">
            <img src="images/products/FirstImage1.jpg" class="d-none d-sm-flex d-md-none" 
                style="position: absolute; left: 75%; margin-left: -75%; clip: rect(0px,700px,600px,0px); transform:scaleX(-1);"
                    alt="Copule with bikes">
            <img src="images/products/FirstImage1.jpg" class="d-none d-md-flex d-lg-none" 
                style="position: absolute; left: 75%; margin-left: -60%; clip: rect(0px,800px,600px,200px); transform:scaleX(-1);"
                    alt="Copule with bikes">
            <img src="images/products/FirstImage2.jpg" class="d-none d-lg-flex"
                style="float:right; clip: rect(0px,1000px,600px,400px); transform:scaleX(-1);"
                    alt="Copule with bikes">
        </div>

        <div class="first-column">
            <h2>Shopping is</h2>
            <h1>MORE FUN</h1>
            <div class="ingress">
                <p>
                    Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque
                    quis erat sed
                </p>
            </div>
            <br>
            <br> 
              <a href="@($"shop/{(int)ProductCategory.NoCategory}")" class="btn btn-shop" role="button">SHOP NOW</a>

        </div>
    </div>
</div>

<InfoBoxes/>

<CategoryGrid/>

@code {
    [CascadingParameter]
    protected EventCallback<ShoppingCartModel> UpdateShoppingCart { get; set; }

}