@page "/testGetProduct"

<h3>TestGetProduct</h3>

@if (_product == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Prouct Description</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@_product.Name</td>
                <td>@_product.Description</td>
                @foreach (ProductVariantModel v in _product.ProductVariants)
                {
                    <td>@v.ListPrice</td>
                    <td>@v.Price</td>
                }
            </tr>

        </tbody>
    </table>
}

@code {
    private ProductModel _product;

    [Inject]
    public IProductService ProdService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _product = await ProdService.GetProduct(5);
    }
}