@page "/testCreateProduct"
<h3>TestCreateProduct</h3>

@code {
    private CreateProductModel product;
    private CreateProductVariantModel productVariant;
    private ProductModel newProduct;

    [Inject]
    public IProductService ProdService { get; set; }

    protected override async Task OnInitializedAsync()
    {



    }
}
