@page "/testDeleteProduct"

<h3>TestDeleteProduct</h3>



@code {

    [Inject]
    public IProductService ProdService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ProdService.DeleteProduct(27);
        await ProdService.DeleteProduct(28);
        await ProdService.DeleteProduct(29);
        await ProdService.DeleteProduct(36);
        await ProdService.DeleteProduct(38);
    }
}