@page "/testCreateProduct"
<h3>TestCreateProduct</h3>

@code {
    private CreateProductModel _product;
    private CreateProductVariantModel _productVariant;
    private ProductModel _newProduct;

    [Inject]
    public IProductService ProdService { get; set; }

    protected override async Task OnInitializedAsync()
    {



    }
}
