@page "/testCreateCustomer"

<h3>TestCreateCustomer</h3>



@code {
    private CreateCustomerModel _customer;

    [Inject]
    public ICustomerService CustService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _customer=new();
        _customer.FirstName="Ingrid";
        _customer.LastName="Ögren";
        _customer.Email="ingrid.ogren@gmail.com";
        _customer.PhoneNr="0703344789";
        _customer.StreetAddress= "Ängsvägen 10";
        _customer.ZipCode="68050";
        _customer.City="Ekshärad";
    

        await CustService.CreateCustomer(_customer);
    }
}