@page "/testDeleteProduct"

<h3>TestDeleteProduct</h3>



@code {

    [Inject]
    public IProductService ProdService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ProdService.DeleteProduct(27);
    }
}