
<div class="footer1">
    <div id="divider" class="dividing-line">
    </div>

    <div class="container info-columns">
      <div class="first-column mt-5">
        <div>
          <img src="images/WhiteLogo.svg" alt="White logotype.">
        </div>
        <div>
          <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper
            vel
            tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean laoreet.</p>
        </div>
        <div>
          <p>Follow us</p>
        </div>
      </div>

      <div class="second-column">
        <div class="theme">
          <h6>CONTACT&nbsp;INFO</h6>
        </div>
        <div class="theme">
          Address:
        </div>
        <div>
          <p>Solna Business Park<br>Feni-2500, Stockholm</p>
        </div>
        <div class="theme">
          Phone:
        </div>
        <div>
          <p>+08-123456789<br>+08-123456789</p>
        </div>
        <div class="theme">
          Email:
        </div>
        <div>
          <p>support@website.com<br>info@website.com</p>
        </div>
      </div>

      <div class="third-column">
        <div class="theme">
          <h6>USEFUL&nbsp;LINKS</h6>
        </div>
        <p><a href="#">Privacy Policy</a></p>
        <p><a href="#">Terms & Conditions</a></p>
        <p><a href="#">Contact Us</a></p>
        <p><a href="#">Our Sitemap</a></p>
        <p><a href="#">Latest News</a></p>
        <p><a href="#">Returns</a></p>
      </div>

      <div class="fourth-column">
        <div class="theme">
          <h6>RECENT INSTAGRAM</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="footer2">
    <div class="container copyright-area">
      <div class="copyright-text1">
        <p>&copy; Copyright 2020 KenKata</p>
      </div>
      <div class="credit-cards">
        <img src="images/MasterCard.svg" alt="MasterCard.">
        <img src="images/PayPal.svg" alt="PayPal.">
        <img src="images/Visa.svg" alt="Visa Card.">
        <img src="images/Payoneer.svg" alt="Payonner Card.">
        <img src="images/DiscoverNetwork.svg" alt="Discover Network Card.">
      </div>
      <div class="container copyright-text2">
        <p>&copy; Copyright 2020 KenKata</p>
      </div>
    </div>
  </div>


@code {

}
