
<div class="layout-outer">
    <img src="images/FastDelivery.svg" class="d-block w-100" alt="Fast delivery">
    <div class="layout-inner">
        <h7>Fast delivery</h7>
        <p>We understand your urgency and we deliver in a fast way</p>
    </div>
</div>

@code {

}
