
<div class="layout-outer">
    <img src="images/Payment.svg" class="d-block w-100" alt="Online payment">
    <div class="layout-inner">
        <h7>Online payment</h7>
        <p>You can pay quickly and easy with our online payment system</p>
    </div>
</div>

@code {

}
