
<div class="layout-outer">
    <img src="images/24-7Support.svg" class="d-block w-100" alt="24/7 support">
    <div class="layout-inner">
        <h7>24/7 support</h7>
        <p>For any inquiry, we are available 24 hours every day</p>
    </div>
</div>

@code {

}
