
<div class="layout-outer">
    <img src="images/FreeShipping.svg" class="d-block w-100" alt="Free shipping">
    <div class="layout-inner">
        <h7>Free shipping</h7>
        <p>For a local customer, we provide free shipping facility</p>
    </div>
</div>

@code {

}
